:host {
  --content-padding: 10px;
}
header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}
.content {
  padding: var(--content-padding);
}

header {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

header nav
{
  display: flex;
  width: 100%;
}

.cart-icon img{
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.logo a
{
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.logo img
{
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

header ul {
  list-style: none;

  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 20px;
}

header li {
  display: inline-block;
  font-size: 18px;
}

header a {
  font-size: 18px;
  text-decoration: none;
}

.cart
{
  display: flex;
  align-items: center;
  margin-left: auto;
}