.container
{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 1rem;
    width: 100%;
}

.spacer
{
    flex: 1;
}
.contact
{
    flex: 3;
}

.contact-info {
    margin-top: 2rem;
}

p
{
    margin-bottom: 1rem;
}