.container
{   
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 1rem;
    width: 100%;
}

.spacer
{
    flex: 1;
}

.product-grid
{
    margin: 5rem 3rem 2rem 3rem;
    padding: 0 2rem 2rem;
    flex: 6;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.product-category
{
    margin-left: 0;
}

.product-category a p
{
    text-decoration: none;
}

.product-category-class
{
    margin: 0 0.1rem 0.5rem 0.5rem;
}

.product
{
    padding: 1rem 0 1rem 0.5rem;
}